<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
      <h1><%- name -%></h1>
    </div>
  </div>
</div>

<%- contentFor('title') -%>
Ample | <%- name -%>
