
<div class="container">
  <div class="form-row">
    <div class="col-md-10 offset-md-1">
      <h3 class="add-business-title">Edit Claim</h3>
    </div>
  </div>

  <form class="add-business-form"  method="POST" action="/businesses/<%- business.id %>/claim/edit">
    <div class="col-lg-10 offset-md-1 inner-form">
      <div class="form-row">
        <div class="col-12">
          <h5>Do you own this business?</h5>
          <p>
            By claiming, you will soon be able to
            receive optional notifications when your business has been reviewed
            and be able to respond to reviews. Our team will verify you have a
            valid claim to this page before approving your ownership.
          </p>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="claim" name="ownsBusiness" checked>
              <label class="form-check-label" for="claim">
                I own this business.
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row pledge-row">
        <div class="col-12">
          <h5>Take the Pledge</h5>
          <p>
            By taking the pledge, you will appear on our world map of inclusive
            doctors, businesses, and services and appear in search results regardless
            of if you have been reviewed. This is a great way to promote your business
            to those searching for friendly businesses.
          </p>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="pledge" name="takenPledge">
              <label class="form-check-label" for="pledge">
                I pledge to treat people of all genders, body sizes, races, and abilities equally.
              </label>
            </div>
          </div>
          <div class="form-group">
              <h5>Owner's Statement</h5>
              <p>
                If you take our pledge of inclusivity, you can upload a statement describing your business's philosophy.
                Your statement can also speak to specific efforts made to make your space accessible to all.
                This statement will be displayed on your business page.
              </p>

              <textarea class="form-control" id="owner-statement" name="ownerStatement" rows="5"><%- business.ownerStatement -%></textarea>
          </div>
        </div>
      </div>


      <div class="row form-group">
        <div class="col-md-12">
          <button type="submit" class="btn review-submit-button" >Update Your Claim</button>
        </div>
      </div>
    </div>
  </form>
<div class="push">
</div>

<script>
  const business = <%- JSON.stringify(business) %>;
  if (business.takenPledge) {
    document.getElementById('pledge').checked = true;
  }
</script>

<%- contentFor('title') -%>
Ample | Claim Business
