<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Oops, something went wrong!</h2>
      <pre><%- error.stack %></pre>
    </div>
  </div>
</div>

<%- contentFor('title') -%>
Ample | Error
