<div class="container faq">
  <div class="row">
    <div class="col-12">
      <h3 class="FAQ-headline" id="amplifier-info">Frequently Asked Questions</h3>
      <h5 class="FAQ-headline">What does it mean if a business has been Amplified?</h5>
      <div>
        Businesses are ‘amplified’ by Amplifiers, a group of volunteers who
        note when a business or provider are recommended outside of the Ample
        platform. This can be from a face-to-face conversation or from a
        discussions they see on social media. Amplified businesses will
        show up on the Ample map and in the top search results, alongside
        businesses that already have reviews.
        A badge will appear on the pages of Amplified businesses, letting users
        know that this place or provider is being recommended even if there are
        not yet firsthand user reviews. These amplified businesses are great
        leads in your search for inclusive providers and businesses!
      </div>
      <h5 class="FAQ-headline">What are Amplifiers?</h5>
      <div>
        Amplifiers are volunteers who contribute data to the Ample platform by
        clicking an ‘Amplify’ button (only visible to confirmed Amplifiers) on
        a business page anytime they see or hear someone positively recommending
        that business. To become an
        Amplifier, write to <a href="href="mailto:info@isitample.com"">info@isitample.com</a>.
        Make sure you've logged in to Ample at least once. We'll have an email exchange
        about the
        privileges and responsibilities of being an Amplifier! To be featured on
        the Amplifiers page on our website, include an attached photo of yourself,
        what name to
        use (we can use abbreviations like “Sam S.”), your pronouns, and your location.
        It is okay to be an anonymous Amplifier, but we’d love for you to get
        kudos for your efforts!
      </div>
      <h5 class="FAQ-headline">Why do you do this Amplification thing?</h5>
      <div>
        Sometimes, despite a business receiving great praise in online forums
        and social media groups, we cannot easily entice
        folks to hop on over to the Ample web app and make a review to share
        their firsthand experience.
        Amplifying is about taking that praise and making a useful data point
        with it, even if reviews haven't been made. This will allow quicker
        growth of centralized data that may benefit folks in marginalized bodies.
        Once a business is Amplified, it will show up on our map and near the
        top of our search results. This will, for example, provide more leads
        when searching for a new doctor in your area, or make traveling to
        unknown cities easier.
      </div>
      <h5 class="FAQ-headline" id="claiming-info">What is claiming a business all about?</h5>
      <div class="">
        Each listing on Ample has a link for the business owner or service
        provider to claim their page on the Ample platform. To claim, click the
        link at the bottom of every business page that says ‘claim this business’.
        You will then be prompted to fill out a small online form so Ample can
        verify the legitimacy of the claim.
        <br />
        <br />
        There are perks to claiming your business. Optionally, but importantly,
        business owners can take a pledge to treat people of all genders, body
        sizes, races, and abilities equally. By taking the pledge, businesses and
        providers will appear on our world map of inclusive providers. They will
        also appear near the top of returned search results, regardless of whether
        they have been reviewed. This is a great way to promote your business or
        service to those searching for inclusive and friendly establishments. A
        badge will appear on the business’ page indicating that the the owner
        has taken the pledge.
        <br />
        <br />
        Another perk of taking the pledge is the opportunity to upload a statement
         of business philosophy. This may also include mention of specific efforts
         towards making the space or service accessible to all. This statement will
         be displayed on the listing for the business along with the pledge badge.
      </div>
      <h5 class="FAQ-headline" id="pledge-info">What is the Inclusivity Pledge?</h5>
      <div class="">
        Business Owners who claim their business on the Ample platform can
        optionally take the Inclusivity Pledge. It reads,
        <br />
        <br />
        <em>
          “I pledge to treat people of all genders, body sizes, races, and
          abilities equally. I will keep an open and eager mind towards learning
          how I might improve accessibility on an ongoing basis. To the best of
          my ability, I will seek to create a space and/or service that is
          inclusive, safe, and comfortable.”
        </em>
      </div>
    </div>
  <div>
  <div class="push">
  </div>
</div>





<%- contentFor('title') -%>
Ample | FAQ
