<div class="container">
  <div class="row feedback-row">
    <div class="col-12 col-lg-8 offset-lg-2">
      Take our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeRg6Gcth9gxYFDPbjQG5nFM5xdwG9Ed8f7Muy6iaB76Vs__A/viewform?usp=sf_link" target="_blank">user survey</a> to help us make Ample better!
      <br />
      <br />
      Got ideas for us? We'd love to hear them.
      Send feedback to <a href="mailto:feedback@isitample.com">feedback@isitample.com</a>.
      <br />
      <br />
      Other information requests can be sent to <a href="mailto:info@isitample.com">info@isitample.com</a>.
    </div>
  </div>
</div>
























<%- contentFor('title') -%>
Ample | Feedback
