<div class="container">
  <div class="row feedback-row">
    <div class="col-12 col-lg-8 offset-lg-2">
      Got ideas for us? We'd love to hear them.
      Send feedback to <a href="mailto:feedback@isitample.com">feedback@isitample.com</a>.
      <br />
      <br />
      Other information requests can be sent to <a href="mailto:info@isitample.com">info@isitample.com</a>.
    </div>
  </div>
</div>
























<%- contentFor('title') -%>
Ample | Feedback
