

<div class="container">
  <form>
    <div class="row logo-row">
      <div class="col-12">
        <p class="ample-logo">
          ample
        </p>
      </div>
    </div>
    <div class="form-row search-row">
      <div class="col-6">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Find</div>
          </div>
          <input
            type="text"
            class="form-control"
            id="business-search-term"
            placeholder="doctors, Sally's Hair, massage" />
        </div>
      </div>

      <div class="col-6">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Near</div>
          </div>
          <input
            type="text"
            class="form-control"
            id="business-location"
            placeholder="address, city, zip code" />
        </div>
      </div>
    </div>
  </form>

</div>

<%- contentFor('title') -%>
Ample | Welcome
