<!DOCTYPE html>
<html>
<head>
<title><%- title %></title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/app.css"/>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lilita+One" rel="stylesheet">
<%- defineContent('styleSheets') %>
</head>
<body class="main-background">
  <nav class="navbar sticky-top navigation">
    <a class="navbar-brand" href="#">
      <img src="/static/peach.png" width="30" height="30" alt="">
    </a>
  </nav>
  <%- body %>
</body>
</html>
