<!DOCTYPE html>
<html>
<head>
<title><%- title %></title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
<%- defineContent('styleSheets') %>
</head>
<body>
<%- body %>
</body>
</html>
