
<body>
  <div class="container">
    <div class="form-group login-form">
      <div class="row">
        <div class="col-md-6">
          <input class="form-control" value="+1" id="country_code" />
          <input class="form-control" placeholder="phone number" id="phone_number"/>
          <button class="btn review-submit-button" onclick="smsLogin();">Login via SMS</button>
          <div>OR</div>
          <input class="form-control" placeholder="email" id="email"/>
          <button class="btn review-submit-button" onclick="emailLogin();">Login via Email</button>

          <form id="login_success" method="post" action="/login_success">
            <input id="csrf" type="hidden" name="csrf" />
            <input id="code" type="hidden" name="code" />
          </form>
        </div>
      </div>

    </div>
  </div>

</body>

<script src="https://sdk.accountkit.com/en_US/sdk.js"></script>

<script>
  // initialize Account Kit with CSRF protection
  AccountKit_OnInteractive = function(){
    AccountKit.init(
      {
        appId: "<%- appId -%>",
        state: "<%- csrf -%>",
        version:"<%- version -%>",
        debug:true,
        fbAppEventsEnabled:true,
        // redirect: "http://localhost:8000/login_success"
      }
    );
  };

  // login callback
  function loginCallback(response) {
    if (response.status === "PARTIALLY_AUTHENTICATED") {
      document.getElementById("code").value = response.code;
      document.getElementById("csrf").value = response.state;
      document.getElementById("login_success").submit();
      // Send code to server to exchange for access token
    }
    else if (response.status === "NOT_AUTHENTICATED") {
      // handle authentication failure
    }
    else if (response.status === "BAD_PARAMS") {
      // handle bad parameters
    }
  }

  // phone form submission handler
  function smsLogin() {
    var countryCode = document.getElementById("country_code").value;
    var phoneNumber = document.getElementById("phone_number").value;
    AccountKit.login(
      'PHONE',
      {countryCode: countryCode, phoneNumber: phoneNumber}, // will use default values if not specified
      loginCallback
    );
  }


  // email form submission handler
  function emailLogin() {
    var emailAddress = document.getElementById("email").value;
    AccountKit.login(
      'EMAIL',
      {emailAddress: emailAddress},
      loginCallback
    );
  }
</script>


<%- contentFor('title') -%>
Ample | Login
