<body>
  <div class="container">
    <div id="fb-root"></div>
    <form id="login-hidden-form" method="post" action="/login">
      <input id="access-token-field" type="hidden" name="access-token" />
      <input name="referer" value="<%- referer -%>" type="hidden" />
    </form>
    <script>
      function checkLoginState() {
        FB.getLoginStatus(response => {
          if (response.status === 'connected') {
            document.getElementById('access-token-field').value = response.authResponse.accessToken;
            document.getElementById('login-hidden-form').submit();
          }
        });
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId: '<%- facebookAppId -%>',
          cookie: true,
          xfbml: true,
          version: 'v2.8'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=156289218248813&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="row login-button">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 ">
        <div
          class="fb-login-button"
          data-scope="public_profile,email"
          data-width="120"
          data-max-rows="1"
          data-size="large"
          data-button-type="login_with"
          data-show-faces="false"
          data-auto-logout-link="false"
          data-onlogin="checkLoginState()"
          data-use-continue-as="false"
        ></div>
      </div>
    </div>
    <div class="row">
      <p id="status"></p>
    </div>
  </div>

</body>

<%- contentFor('title') -%>
Ample | Login
