<div class="container">
  <div class="row top-our-vision">
    <div class="col-12 col-lg-8 offset-lg-2">
      <h4>Our Vision</h4>

      We believe in a future where all bodies feel welcomed and safe. Why not use technology
      to aid in that?
      <br />
      <br />
      Ample is Alissa and AB: lifelong best friends who teamed up to make an app that they both
      needed. As a fat person and a trans person, they both pined for a way to find doctors with
      experience and an inclusive attitude about our bodies. Then they started thinking, what
      about finding a movie theater with comfortably sized seating or a store that sells clothes
      with trans bodies in mind?

      <br />
      <br />
      You use this app like other review sites, where you search for businesses and then rate
      and review them. However, ample is the first app that reviews businesses based on their
      accessibility and inclusiveness toward marginalized bodies. We use both star ratings and
      a tags system on our reviews to display specific and detailed information about each
      establishment so that people know what to expect before going.

      <h4 class="about-us-title">About us</h4>
      <div class="row">

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12">
              <img class="founder-img img-fluid" src="/static/alissa.jpg"/>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              Alissa is a programmer who lives in Portland, OR with her husband and two very young kids.
              When not coding, she's likely to be found cooking, vegetable gardening, biking, or hiking the Pacific Northwest.
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12">
              <img class="founder-img founder-img-second img-fluid" src="/static/AB.jpg"/>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              AB is a designer and musician living in Portland, OR. When not working,
              he can be found making lots of beats and basking in the fleating Portland
              sun.
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>







<%- contentFor('title') -%>
Ample | Our Vision
