<div class="container">
  <div class="row top-our-vision">
    <div class="col-12 col-lg-8 offset-lg-2">
      <h4>Our Vision</h4>

      We built Ample because we believe in a future
      where all bodies feel welcomed and safe, and
      we think technology can help.
      <br />
      <br />
      We are Alissa and AB; lifelong best friends who
      teamed up to make an app that we both needed. As
      a fat person and a trans person, we both wanted a
      way to find doctors that have an inclusive attitude
      towards our non-conforming bodies. We aren’t alone
      in that desire; we know that when people believe
      they will be stigmatized by their doctors, they
      avoid seeking health care, which can lead to
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4381543/">late or missed medical diagnoses.</a>
      Then we started
      thinking bigger, like what about finding a movie
      theater with larger-sized seating or a store that
      sells clothes with trans bodies in mind? What about
      those in disabled bodies who need information about
      access to the building? What about bodies at the
      intersections of fat, trans, and disabled? Having
      this information could be the difference between
      going and not going.


      <br />
      <br />
      Ample is similar in function to other popular review
      sites, however, it’s the first app that rates businesses
      specifically on their accessibility and inclusiveness
      towards marginalized bodies. You can search for
      businesses to discover what others are saying and
      then rate and review establishments, both positively
      and negatively, on the job they’re doing. Filter
      reviews based on the perspective you’re interested
      in, or we’ll show you the businesses that are shining
      in all categories. We use both a star rating and a
      tags system within our reviews to display targeted,
      detailed information about each establishment so
      that you know what to expect before going. The
      body-positive community is growing every day, and
      here at Ample, we think think we can help.

      <br />
      <br />

      <h4>The Future</h4>

      We’re launching a public beta of our app in April,
      2018. Though we’re a very small team, we plan to
      continuously launch new and exciting features. We
      have plans for incorporating more social components
      to the app, expanding ways to display business
      information, and adding features to user profiles,
      to name a few. <a href="/feedback">Let us know</a>
      what features are important to you!
      <br />
      <br />
      Ample is an open source project. We’ve been developing
      this app in the open from day one because we think the best
      way to build an inclusive and socially-just community
      is to encourage collaboration and transparency. If
      you’d like to watch our progress or get involved,
      check us out on <a href="https://github.com/uhlissuh/ample">Github.</a>



      <h4 class="about-us-title">About us</h4>
      <div class="row">

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12">
              <img class="founder-img img-fluid" src="/static/alissa.jpg"/>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              Alissa is a programmer who lives in Portland, OR
              with her programmer husband and two very young kids.
              When not coding, she can be found cooking, vegetable
              gardening, biking, or hiking the Pacific Northwest.
              <br />
              <br />
              <br />
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12">
              <img class="founder-img founder-img-second img-fluid" src="/static/AB.jpg"/>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              AB is a designer and musician living in Portland, OR. When not working,
              he can be found making lots of beats and basking in the fleeting Portland
              sun.
              <br />
              <br />
              <br />
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>







<%- contentFor('title') -%>
Ample | Our Vision
