<div class="container privacy">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <h2>Privacy Policy</h2>
      <p>
        Your privacy is critically important to us. At Ample, we have a few
        fundamental principles:
        <ul>
          <li>
            We are thoughtful about the personal information we ask you to
            provide and the personal information that we collect about you through
            the operation of our services.
          </li>
          <li>
            We store personal information for only as long as we have a reason to
            keep it.
          </li>
          <li>
            We aim for full transparency on how we gather, use, and share your
            personal information.
          </li>
        </ul>
        Below is our Privacy Policy, which incorporates and clarifies these principles.
      </p>


      <h5>Who We Are and What This Policy Covers</h5>
      <p>
        Howdy! We are the folks behind Ample, a web app to help people find all
        sorts of establishments that are friendly to marginalized bodies. Our
        mission is to build a powerful tool that connects people to businesses
        and services that are accessible and inclusive of their identity. We
        believe in powering the open Internet with code that is open source. This
        Privacy Policy applies to information that we collect about you when you
        use our web app on www.isitample.com. Throughout this Privacy Policy
        we’ll refer to our website as “Services.” When you use the Service,
        you consent to our collection, use, and disclosure of information about
        you as described in this Privacy Policy.
      </p>
      <h5>Creative Commons Sharealike License</h5>
      <p>
        This Privacy Policy was made available by
        <a href="https://automattic.com/privacy/">Automattic</a>
        under a
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Sharealike license</a>.
        You can grab a copy of this Privacy Policy and other legal documents
        on <a href="https://github.com/Automattic/legalmattic">Github</a>.
        You’re more than welcome to copy it, adapt it, and repurpose
        it for your own
        use— as we did. Just make sure to revise the language so that
        your policy reflects your actual practices. Whether you use our
        version or Auttomattic’s, please attribute credit and link to
        the original somewhere on your site.
      </p>
      <h5>Information We Collect</h5>
      <p>
        We only collect information about you if we have a reason to do so–for
        example, to provide our Services, to communicate with you, or to make
        our Services better.
        We collect information in three ways: if and when you provide information
        to us, automatically through operating our Services, and from outside
        sources. Let’s go over the information that we collect.
      </p>
      <h6>Information You Provide to Us</h6>
      <p>
      It’s probably no surprise that we collect information that you provide to
      us. The amount and type of information depends on the context and how we
      use the information. Here are some examples:
      </p>
      <ul>
        <li>
          Basic Account Information: We ask for basic information from you in
          order to set up your account. For example, we require individuals who
          log in to their Ample account to provide a username and email
          address–and that’s it. You may provide us with more information –such
          as claiming the business or service you own– but we don’t require
          that information to create an Ample account.
        </li>
        <li>
          Public Profile Information: If you have an account with us, we collect
          the information that you provide for your public profile. For example,
          if you have an Ample account, your username is part of that public
          profile, along with any other information you put into your public
          profile, such as a photo or information about your identity. Your
          public profile information is just that –public– so please keep that
          in mind when deciding what information you would like to include.
        </li>
        <li>
          Transaction and Billing Information: If you buy something from us
          –advertising, for example– you will provide additional personal and
          payment information that is required to process the transaction and
          your payment, such as your name, credit card information, and contact
          information.
        </li>
        <li>
          You may also provide us with information about you in published content.
          For example, if you write a review that includes biographic information
          about you, we will have that information, and so will anyone with access
          to the Internet if you choose to publish the review. Other users may be
          able to identify you, or associate you with your account, if you include
          personal information in the content you post publicly. You can reduce the
          risk of being personally identified by using our Services pseudonymously,
          though doing so could detract from the credibility of your contributions
          to Ample.
        </li>
        <li>
          Communications With Us (Hi There!): You may also provide us information
          when you respond to surveys, communicate with our team about a support
          question or feedback.
        </li>
      </ul>
      <h6>Information We Collect Automatically</h6>
      <p>
        We also collect some information automatically:
      </p>
      <ul>
        <li>
          Log Information: Like most online service providers, we collect
          information that web browsers, mobile devices, and servers typically
          make available, such as the browser type, IP address, unique device
          identifiers, language preference, referring site, the date and time of
          access, operating system, and mobile network information. We collect
          log information when you use our Services
        </li>
        <li>
          Usage Information: We collect information about your usage of our
          Services. For example, we collect information about the actions that
          site administrators and users perform– in other words, who did what,
          when and to what thing on the site. We use this information to,
          for example, provide our Services to you, as well as get insights
          on how people use our Services, so we can make our Services better.
        </li>
        <li>
          Location Information: We may determine the approximate location of
          your device from your IP address. We collect and use this information
          to, for example, calculate how many people visit our Services from
          certain geographic regions. We may also collect information about
          your precise location via our mobile apps (when, for example, you
          post a photograph with location information) if you allow us to do
          so through your mobile device operating system’s permissions.
        </li>
        <li>
          Stored Information: We may access information stored on your mobile
          device via our mobile app. We access this stored information through
          your device operating system’s permissions. For example, if you give
          us permission to access the photographs on your mobile device’s camera
          roll, our Services may access the photos stored on your device when you
          upload a really amazing photograph of the sunrise to your website.
        </li>
        <li>
          Information from Cookies & Other Technologies: A cookie is a string of
          information that a website stores on a visitor’s computer, and that the
          visitor’s browser provides to the website each time the visitor returns.
        </li>
      </ul>
      <h6>Information We Collect from Other Sources</h6>
      <p>
        We may also get information about you from other sources. For example, if
        you create or log into your WordPress.com account through another service
        (like Google).  The information we receive depends on which services you
        authorize and any options that are available.
      </p>
      <h5>How And Why We Use Information</h5>
      <h6>Purposes for Using Information</h6>
      <p>
        We use information about you as mentioned above and for the purposes
        listed below:
      </p>
      <ul>
        <li>
          To provide our Services–for example, to set up and maintain your
          account, host your reviews, backup and restore your reviews, or charge
          you for advertising;
        </li>
        <li>
          To further develop and improve our Services–for example by adding new
          features that we think our users will enjoy or will help them to create
          and manage their websites more efficiently;
        </li>
        <li>
          To monitor and analyze trends and better understand how users interact
          with our Services, which helps us improve our Services and make them
          easier to use; To measure, gauge, and improve the effectiveness of
          our advertising, and better understand user retention and attrition;
        </li>
        <li>
          To monitor and prevent any problems with our Services, protect the
          security of our Services, detect and prevent fraudulent use and other
          illegal activities, fight spam, and protect the rights and property
          of Ample and others, which may result in us declining a transaction
          or the use of our Services;
        </li>
        <li>
          To personalize your experience using our Services, provide content
          recommendations, target our marketing messages to groups of our users
          (for example, those who have a particular plan with us or have been
          our user for a certain length of time), and serve relevant
          advertisements;
        </li>
        <li>
          To communicate with you, for example through an email about feedback,
          or keeping you up to date on Ample and our Services. If you are a
          representative of a business listed on Ample, we may contact you,
          including by phone or email, using the contact information you provide
          us, make publicly available, or that we have on record for your
          business. Our calls with you may be monitored and recorded for quality
           purposes.
        </li>
      </ul>
      <h6>Legal Bases for Collecting and Using Information</h6>
      <p>
        A note here for those in the European Union about our legal grounds for
        processing information about you under EU data protection laws, which is
        that our use of your information is based on the grounds that:
      </p>
      <ol>
        <li>
          The use is necessary in order to fulfill our commitments to you under
          our Terms of Service or other agreements with you or is necessary to
          administer your account–for example, in order to enable access to our
          website on your device; or
        </li>
        <li>
          The use is necessary for compliance with a legal obligation; or
        </li>
        <li>
          The use is necessary in order to protect your vital interests or
          those of another person; or
        </li>
        <li>
          We have a legitimate interest in using your information–for example,
          to provide and update our Services, to improve our Services so that we
          can offer you an even better user experience, to safeguard our Services,
          to communicate with you, to measure, gauge, and improve the effectiveness
          of our advertising, and better understand user retention and attrition,
          to monitor and prevent any problems with our Services, and to personalize
          your experience; or
        </li>
        <li>
          You have given us your consent–for example before we place certain cookies
          on your device and access and analyze them later on, as described in our
          Cookie Policy.
        </li>
      </ol>
      <h5>Sharing Information</h5>
      <h6>How We Share Information</h6>
      <p>
        We do not sell our users’ private personal information. We share information
        about you in the limited circumstances spelled out below and with appropriate
        safeguards on your privacy:
        <ul>
          <li>
            Subsidiaries, Employees, and Independent Contractors: We may disclose
            information about you to our subsidiaries, our employees, and individuals
            who are our independent contractors that need to know the information
            in order to help us provide our Services or to process the information
            on our behalf. We require our subsidiaries, employees, and independent
            contractors to follow this Privacy Policy for personal information that
            we share with them.
          </li>
          <li>
            Third Party Vendors: We may share information about you with third party
            vendors who need to know information about you in order to provide their
            services to us. This group includes vendors that help us provide our
            Services to you (like payment providers that process your credit and
            debit card information), fraud prevention services that allow us to
            analyze fraudulent payment transactions, postal and email delivery
            services that help us stay in touch with you, user email support
            services that help us communicate with you, those that assist us
            with our marketing efforts (e.g. by providing tools for identifying
            a specific marketing target group or improving our marketing campaigns),
            and those that help us understand and enhance our Services (like
            analytics providers). We require vendors to agree to privacy
            commitments in order to share information with them. Other
            vendors are listed in our more specific policies.
          </li>
          <li>
            Legal Requests: We may disclose information about you in response to
            a subpoena, court order, or other governmental request.
          </li>
          <li>
            To Protect Rights, Property, and Others: We may disclose information
            about you when we believe in good faith that disclosure is reasonably
            necessary to protect the property or rights of Ample, third parties,
            or the public at large.
          </li>
          <li>
            Business Transfers: In connection with any merger, sale of company
            assets, or acquisition of all or a portion of our business by another
            company, or in the unlikely event that Ample goes out of business or
            enters bankruptcy, user information would likely be one of the assets
            that is transferred or acquired by a third party. If any of these
            events were to happen, this Privacy Policy would continue to apply
            to your information and the party receiving your information may
            continue to use your information, but only consistent with this
            Privacy Policy.
          </li>
          <li>
            With Your Consent: We may share and disclose information with your
            consent or at your direction. For example, we may share your
            information with third parties with which you authorize us to do
            so, such as the social media services that you connect to your account.
          </li>
          <li>
            Aggregated or De-Identified Information: We may share information
            that has been aggregated or reasonably de-identified, so that the
            information could not reasonably be used to identify you. For
            instance, we may publish aggregate statistics about the use of our
            Services and we may share a hashed version of your email address to
            facilitate customized ad campaigns on other platforms.
          </li>
          <li>
            Published Support Requests: And if you send us a request (for example,
            via a support email or one of our feedback mechanisms), we reserve the
            right to publish that request in order to help us clarify or respond to
            your request or to help us support other users.
          </li>
        </ul>
      </p>
      <h6>Information Shared Publicly</h6>
      <p>
        Information that you choose to make public is –you guessed it– disclosed publicly.
        That means, of course, that information like your user profile, ratings, reviews, other content that you make public, and your interactions with other users or business pages, are all available to others.
        Public information may also be indexed by search engines or used by third parties.
        Please keep all of this in mind when deciding what you would like to share.
      </p>
      <h5>How Long We Keep Information</h5>
      <p>
        We generally discard information about you when we no longer need the
        information for the purposes for which we collect and use it –which are
        described in the section above on How and Why We Use Information– and we
        are not legally required to continue to keep it.
        For example, we keep the web server logs that record information about a
        visitor to Ample’s web app, such as the visitor’s IP address, browser type,
        and operating system, for approximately 30 days. We retain the logs for
        this period of time in order to, among other things, analyze traffic to
        Ample’s website and investigate issues if something goes wrong on one
        of our websites.
        As another example, when you delete your Ample account, your review
        content may persist for up to thirty days just in case you change your
        mind and would like restore that content –because starting again from
        scratch is no fun, at all. After the thirty days are up, the deleted
        content may remain on our backups and caches until purged.
      </p>
      <h5>Security</h5>
      <p>
        While no online service is 100% secure, we work very hard to protect
        information about you against unauthorized access, use, alteration,
        or destruction, and take reasonable measures to do so, such as monitoring
        our Services for potential vulnerabilities and attacks.
      </p>
      <h5>Choices</h5>
      <ul>
        <li>
          Limit the Information that You Provide: If you have an account with us,
          you can choose not to provide the optional account information, profile
          information, and transaction and billing information. Please keep in
          mind that if you do not provide this information, certain features of
          our Services may not be available to you.
        </li>
        <li>
          Opt-Out of Electronic Communications: We’re not in the habit of sending
          out promotional messages, but if we were, you would have the ability
          to opt out of receiving them by following the instructions in those
          messages. Even if you opt out of promotional messages, we may still
          send you other messages, like those about your account and legal notices.
        </li>
        <li>
          Set Your Browser to Reject Cookies: At this time, Ample does not respond
          to “do not track” signals across all of our Services. However, you can
          usually choose to set your browser to remove or reject browser cookies
          before using Ample’s web app, with the drawback that certain features
          may not function properly without the aid of cookies.
        </li>
        <li>
          Close Your Account: While we’d be very sad to see you go, if you no
          longer want to use our Services, you can request we close your Ample
          account by emailing us. Please keep in mind that we may continue to
          retain your information after closing your account, as described in
          How Long We Keep Information above–for example, when that information
          is reasonably needed to comply with (or demonstrate our compliance with)
          legal obligations such as law enforcement requests, or reasonably needed
          for our legitimate business interests. Please note that businesses
          cannot remove their business listings, ratings, or reviews by closing
          their accounts.
        </li>
      </ul>
      <h5>Your Rights</h5>
      <p>
        If you are located in certain countries, including those that fall under
        the scope of the European General Data Protection Regulation
        (AKA the “GDPR”), data protection laws give you rights with respect
        to your personal data, subject to any exemptions provided by the law,
        including the rights to Request access to your personal data; Request
        correction or deletion of your personal data, object to our use and
        processing of your personal data, request that we limit our use and
        processing of your personal data, and request portability of your
        personal data.
        You can usually access, correct, or delete your personal data using
        your account settings and tools that we offer, but if you aren’t able
        to do that, or you would like to contact us about one of the other rights,
        scroll down to How to Reach Us to, well, find out how to reach us.
        EU individuals also have the right to make a complaint to a government
        supervisory authority.
      </p>
      <h5>Controllers and Responsible Companies</h5>
      <p>
      Ample’s Services are worldwide. Ample is the controller of personal
      information, which means that we are the company responsible for
      processing that information.
      </p>
      <h5>How to Reach Us</h5>
      <p>
        If you have a question about this Privacy Policy, or you would like
        to contact us about any of the rights mentioned in the Your Rights
        section above, <a href="/feedback">please contact us</a>.
      </p>
      <h5>Other Things You Should Know (Keep Reading!)</h5>
      <h6>Transferring Information</h6>
      <p>
        Because Ample’s Services are offered worldwide, the information about
        you that we process when you use the Services in the EU may be used,
        stored, and/or accessed by individuals operating outside the European
        Economic Area (EEA) who work for us or third party data processors. This
        is required for the purposes listed in the How and Why We Use Information
        section above. When providing information about you to entities outside the
        EEA, we will take appropriate measures to ensure that the recipient protects
        your personal information adequately in accordance with this Privacy Policy
        as required by applicable law.
        In the case of US based entities, entering into European Commission
        approved standard contractual arrangements with them, or ensuring
        they have signed up to the EU-US Privacy Shield. In the case of entities
        based in other countries outside the EEA,
        entering into European Commission approved standard contractual
        arrangements with them.
        You can ask us for more information about the steps we take to
        protect your personal information when transferring it from the EU.
      </p>
      <h6>Ads and Analytics Services Provided by Others</h6>
      <p>
        Ads appearing on any of our Services may be delivered by advertising
        networks. Other parties may also provide analytics services via our
        Services. These ad networks and analytics providers may set tracking
        technologies (like cookies) to collect information about your use of
        our Services and across other websites and online services. These
        technologies allow these third parties to recognize your device to
        compile information about you or others who use your device. This
        information allows us and other companies to, among other things,
        analyze and track usage, determine the popularity of certain content,
        and deliver advertisements that may be more targeted to your interests.
        Please note this Privacy Policy only covers the collection of
        information by Ample and does not cover the collection of information
        by any third party advertisers or analytics providers.
      </p>
      <h5>Privacy Policy Changes</h5>
      <p>
        Although most changes are likely to be minor, Ample may change its
        Privacy Policy from time to time. Ample encourages visitors to
        frequently check this page for any changes to its Privacy Policy.
        If we make changes, we will notify you by revising the change log
        below, and, in some cases, we may provide additional notice
        (such as adding a statement to our homepage or the Ample Blog,
        or sending you a notification through email or your dashboard).
        Your further use of the Services after a change to our Privacy Policy
        will be subject to the updated policy.
        That’s it! Thanks for reading.
      </p>
      <em><p>Aug 30th, 2018 — Instated Privacy Policy. </p></em>
    </div>
  </div>
</div>

<div class="push">
</div>








<%- contentFor('title') -%>
Ample |  Privacy Policy
