
<div class="container">
  <h1><%- user.name -%></h1>
  <form method="POST" action="/logout">
      <button type="submit" class="btn review-submit-button">Logout</button>
  </form>

</div>



















<%- contentFor('title') -%>
Ample | profile for <%- user.name -%>
