
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 offset-lg-3 text-center">
      <h3 class="profile-name-row">You're logged in as <%- user.name -%>.</h3>
      <form class="profile-form" method="POST" action="/logout">
          <button type="submit" class="btn review-submit-button">Logout</button>
      </form>
      <div class="alert alert-info profile-alert" role="alert">
        More coming soon to Profiles!
      </div>
    </div>
  </div>
</div>



















<%- contentFor('title') -%>
Ample | profile for <%- user.name -%>
