<div class="container">

  <h4 class="team-page-title">The Team</h4>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12">
          <img class="founder-img img-fluid" src="/static/alissa.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b>Alissa Sobo</b> (she/her) is a programmer who lives in Portland, OR
          with her programmer husband and two very young kids.
          When not coding, she can be found cooking, vegetable
          gardening, biking, or hiking the Pacific Northwest.
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12">
          <img class="founder-img founder-img-second img-fluid" src="/static/AB.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b>Gus Cannon</b> (he/him) is a designer and musician living in Portland, OR. When not working,
          he can be found making lots of beats and basking in the fleeting Portland
          sun.
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12">
          <img class="founder-img founder-img-second img-fluid" src="/static/ragen.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b>Ragen Chastain</b> (she/her) is a speaker and writer who focuses on teaching fat people how to love and advocate for ourselves,
          and teaching health and wellness professionals how to treat fat people like human beings. She lives
          in LA, and is training for her first (and only!) IRONMAN triathlon.
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12">
          <img class="founder-img img-fluid founder-img-second" src="/static/ruby.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b>Ruby Chevreuil</b> (she/her) is a brown, witchy Femme who geeks out over writing
          community guidelines and creating safe online spaces. Her favorite things include talking
          about her cats, sewing, camping, finding ways to save the ocean and looking for the best Vegan pizza in town.
          <br />
          <br />

        </div>
      </div>
    </div>

  </div>




  <div class="row">
    <div class="col-12">
      <h5 class="team-page-title">Amplifiers</h5>
    </div>
    <div class="col-6 col-lg-3">
      <div class="row">
        <img class="founder-img img-fluid amplifier-img" src="/static/shoog.jpg"/>
      </div>
      <div class="row">
        <div class="col-12 amp-name-row">
          <span>
            <b class="amplifier-name">Shoog McD.</b>(they/them)
          </span>
          <div>
            Gainesville, Florida
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3">
      <div class="row">
        <img class="founder-img img-fluid amplifier-img" src="/static/annachapman.jpg"/>
      </div>
      <div class="row">
        <div class="col-12 amp-name-row">
          <span class="amplifier-name">
            <b class="amplifier-name">Anna C.</b>(she/her)
          </span>
          <div>
            Portland, OR
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3">
      <div class="row">
        <img class="founder-img img-fluid amplifier-img" src="/static/summer2.jpg"/>
      </div>
      <div class="row">
        <div class="col-12 amp-name-row">
          <div>
            <b class="amplifier-name">Summer</b><span>(she/her)</span>
          </div>
          <div>
            On the Road, USA
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3">
      <div class="row">
        <img class="founder-img img-fluid amplifier-img" src="/static/cicely.jpg"/>
      </div>
      <div class="row">
        <div class="col-12 amp-name-row">
          <div>
            <b class="amplifier-name">Cicely</b><span>(they/them)</span>
          </div>
          <div>
            Philly, PA
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3">
      <div class="row">
        <img class="founder-img img-fluid amplifier-img" src="/static/alex.jpg"/>
      </div>
      <div class="row">
        <div class="col-12 amp-name-row">
          <div>
            <b class="amplifier-name">Alex G.</b><span>(they/them)</span>
          </div>
          <div>
            Greenfield, MA
          </div>
        </div>
      </div>
    </div>


        <div class="col-6 col-lg-3">
          <div class="row">
            <img class="founder-img img-fluid amplifier-img" src="/static/LauraH.png"/>
          </div>
          <div class="row">
            <div class="col-12 amp-name-row">
              <div>
                <b class="amplifier-name">Laura H.</b><span>(she/her)</span>
              </div>
              <div>
                Portland Metro, OR
              </div>
            </div>
          </div>
        </div>

  </div>
</div>
  <div class="push">
  </div>
</div>



<%- contentFor('title') -%>
Ample | Team
