<div class="container">

  <h4 class="team-page-title">The Team</h4>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12">
          <img class="founder-img img-fluid" src="/static/alissa.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b>Alissa Sobo</b> is a programmer who lives in Portland, OR
          with her programmer husband and two very young kids.
          When not coding, she can be found cooking, vegetable
          gardening, biking, or hiking the Pacific Northwest.
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12">
          <img class="founder-img founder-img-second img-fluid" src="/static/AB.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b>Gus Cannon</b> is a designer and musician living in Portland, OR. When not working,
          he can be found making lots of beats and basking in the fleeting Portland
          sun.
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12">
          <img class="founder-img founder-img-second img-fluid" src="/static/el.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b>El Poché</b> is an unabashed hippie living in Madison, WI with their spouse and cats.
          They enjoy working with people, volunteering in wildlife rehab, laughing
          uproariously, and eating produce from their garden.
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12">
          <img class="founder-img img-fluid" src="/static/ragen.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b>Ragen Chastain</b> is a speaker and writer who focuses on teaching fat people how to love and advocate for ourselves,
          and teaching health and wellness professionals how to treat fat people like human beings. She lives
          in LA, and is training for her first (and only!) IRONMAN triathlon.
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="push">
  </div>
</div>



<%- contentFor('title') -%>
Ample | Team
