h1.title {
    @extend .header-txt-shadow;
}

.subtitle {
    font-weight: bold;
    margin-top: 5px;
    font-size: 25px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Shared css in _post.scss
