.main-background {
  /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#ffd7ea), to(#fecc72));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #ffd7ea, #fecc72);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #ffd7ea, #fecc72);

    /* IE 10 */
    background: -ms-linear-gradient(left, #ffd7ea, #fecc72);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #ffd7ea, #fecc72);


    height: 500px;
}

.summary-item {
  vertical-align: middle;
  font-size: 40px;
}

.collapse-no-animate {
  display: none;
}

.collapse-no-animate.show {
  display: block;
}

.indicator {
  display: inline;
  vertical-align: middle;
}

.review-count-check-mark {
  font-family: "Times", "Times New Roman", "serif";
  font-weight: 500;
  font-size: 48px;
  display: inline-block;
  height: 20px;
  color: #faa9ca;
}

.star-box {
  padding-right: 30px;
  margin-top: 10px;
}

.navigation {
  background-color: white;
  border-bottom: 1px solid #D9D9D9;
}

.ample-logo {
  font-family: 'Lilita One', cursive;
  color: #EB6E79;
  font-size: 80px;

}

.profile-name-row {
  margin-top: 80px;
}

.profile-form {
  margin-top: 40px;
}

.profile-alert {
  margin-top: 30px
}

.signin-button-row {
  margin-top: 80px;
}

.logo-row {
  padding-top: 120px;
}

.login-background {
  background-color: #FFD4D3;
}

.tag-line {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #EB6E79;
  font-size: 25px;
}

.char1 {
  height: 350px;
  width: 350px;
  background-image: url('/static/chars1.svg');
  background-repeat: no-repeat;
  margin: 0 auto;
  /* background-position: bottom; */
  margin-top: 50px;

}

.char2 {
  height: 350px;
  width: 350px;
  background-image: url('/static/chars2.svg');
  background-repeat: no-repeat;
  margin: 0 auto;
  vertical-align:bottom;
  /* background-position: bottom; */
  margin-top: 50px;
}

.characters-big {
  background-image: url('/static/chars-large.svg');
  background-repeat: no-repeat;
  height: 700px;
  width: 700px;
  margin: 0 auto;
  vertical-align: bottom;
  margin-top: 70px;
}

.characters-row {
}

.confettibackground {
  background-repeat: repeat;
  background-image: url('/static/confettibackground.svg');
  background-size: 200px;
  height: 435px;
}


.go-button {
  background-color: #EB6E79;
  color: white;
  width: 100%;
}

.business-header {
  margin-top: 30px;
  padding-bottom: 30px;
}

.cards {
  padding-top: 50px;
}

.cards-background {
  height: 450px;
  background-color: #FFD4D3;
}

.cards-title {
  color: #EB6E79;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.review-biz-name {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #A9A9A9;
}

.biz-name {
  font-size: 30px;
  color: #A9A9A9;
  font-family: 'Roboto', sans-serif;
}

.business-by-line {
  font-size: 20px;
  margin-bottom: 0px;
}

.no-reviews-yet {
  margin-top: 50px;
  font-size: 20px;
  color: #A9A9A9;
}

.reviews-body {
  padding-top: 10px;
}

.review-button {
  background-color: #EB6E79;
  color: white;
  width: 100%;
}

.review-button.disabled {
  background-color: grey;
  border-color: grey;
}

.tag-input {
  border: 0px;
  width: 180px;
  outline: none;
}

.tag-label {
  display: inline-block;
  color: #EB6E79;
  margin-bottom: 0px;
}

.tag-list {
  display: inline !important;
  list-style-type: none;
  padding-left: 0px;
}

.tag-list-item {
  display: inline-block;
  margin-right: 10px;
  background-color: #FFD4D3;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  color: #EB6E79;
}

.tag-list-item-display {
  margin-top: 5px;
  padding: 5px;
}

.tag-list-item-content {
  padding-top: 2px;
  padding-bottom: 2px;
}

.tag-list-item-delete-link {
  color: #EB6E79;
  margin-left: 10px;
}

.tag-list-item-delete-link:hover {
  text-decoration: none;
  color: white;
}

.summary-row {
  margin-bottom: 40px;
}

.tags-row {
  margin-top: 20px;
}

.review-business-top-row {
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: .5px solid #d3d3d3;
  padding-bottom: 10px;
}

.review-business-bottom-row {
  padding-bottom: 50px;
}

.review-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.star-rating-label {
  color: #EB6E79;
}

.accessibility-title {
  padding-top: 30px;
}

.main-form {
  width: 75%;
  align-content: center;
}

.review-submit-button {
  background-color: #EB6E79;
  color: white;
  width:100%;
}

.reviews-header {
  margin-top: 20px;
}

.review {
  font-family: 'Roboto', sans-serif;
}

.be-first-words {
  color: #EB6E79;
}

.login-button {
  padding-top: 100px;
}

a {
  color: #FDA972;
}

a:hover {
  color: #CC5C4A;
  text-decoration: none;
}

.reviewer-headline {
  font-weight: 500;
  color: #EB6E79;
}

.business-rating {
  font-size: 30px;
  font-weight: bold;
}

.card-subtitle {
  font-size: 12px;
}

.biz-img {
  object-fit: cover;
  width:300px;
  height:300px;
}

.biz-img-thumb {
  object-fit: cover;
  width:80px;
  height:80px;
}

.address {
  margin-bottom: 0;
}

.search-result-title {
  font-size: 20px;
}

.breakdown-section {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: .5px solid #d3d3d3;
  border-top: .5px solid #d3d3d3;
}

.link-highlighted {
  color: #CC5C4A;
  text-decoration: underline;
}

.search-results-title {
  margin-bottom:20px;
}

.search-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.recent-review-card {
  margin-bottom: 15px;
}

.card-title {
  color: #A9A9A9;
  font-size: 18px;
  margin-bottom: 8px;
}

.card-text {
  height: 150px;
  color: black;
  overflow: hidden;
}

.card-top {
  height: 80px;
}

.business-overall-rating {
  display: inline;
  vertical-align: top;
}

.business-listing-title {
  font-size: 20px;
  color: #A9A9A9;
}

.score-grouping {
  float: right;
}

.review-count {
  display: inline;
  vertical-align: top;
}

.search-results-star-rating {
  display: inline;
  vertical-align: bottom;

}

.rating-breakdown-link.highlighted {
  background-color: red;
}

.reviewed-by {
  color: #A9A9A9;
}

.percentage-bar-background {
  background-color: #f9d9d9;
  height: 20px;
}

.percentage-bar {
  background-color: #EB6E79;
  height: 100%;
}

.main-form {
  width: 100%;
}

.rating-breakdown-link {
  text-align: center;
  display: block;
  text-decoration: underline;
}

.biz-name {
  font-size: 30px;
  color: #A9A9A9;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
}

.feedback-row {
  margin-top: 100px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.top-our-vision {
  margin-top: 30px;
}

.founder-img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.about-us-title {
  margin-bottom: 30px;
  margin-top: 15px;
}

.cards-address {
  font-size: 13px;
  color: #A9A9A9;
}


@media screen and (max-width: 800px) {
  .founder-img-second {
    padding-top: 15px;
  }

  .recent-review-card {
    margin-bottom: 15px;
  }

  .card-text {
    height: 120px;
  }

  .card-top {
    height: 80px;
  }

  .dr-name {
    font-size: 25px;
    margin-top:15px;
  }

  .business-by-line {
    font-size: 14px;
  }

  .business-header {
    margin-top: 0px;
    margin-bottom: 5px;
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  .star-rating-section {
    margin-bottom: 10px;
  }

  .biz-img {
    /* object-fit: cover; */
    width:100%;
    height: 275px;
  }

  .biz-img-thumb {
    width:65px;
    height:65px;
  }

  .biz-image-col {
    padding: 0px;
  }

  .main-background {
    height: 350px;
  }

  .search-results-title {
    margin-bottom:10px;
    font-size: 16px;
  }

  .search-bar {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .business-listing-title {
    font-size: 16px;
    color: #A9A9A9
  }

  .business-address-tag-line {
    font-size: 13px;
  }

  .image-column {
    padding-right: 0px;
    padding-top: 7px;
  }

  .search-results-business-info {
    padding-left: 5px;
    padding-top: 0px;
  }

  .list-group-item {
    padding-left: 10px;
    padding-right: 10px;
  }


  .logo-row {
    padding-top: 25px;
  }

  .ample-logo {
    margin-bottom: 5px;
  }

  .tag-line {
    font-size: 16px;
    padding-top: 5px;
  }

  .cards {
    padding-top: 35px;
  }

  .cards-address {
    font-size: 13px;
    color: #d3d3d3
  }

  .cards-background {
    height: 900px;
    background-color: #FFD4D3;
  }

  .score-grouping {
    float: left;
    margin-top: 5px;
    display: inline-block;
  }

  .score-row {
    border-top: .5px solid #d3d3d3;
    /* border-bottom: .5px solid #d3d3d3; */
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .no-reviews {
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding: 0px;
  }

  .tags-row {
    margin-top: 10px;
    /* border-bottom: .5px solid #d3d3d3; */
    padding-bottom: 10px;
  }

  .rating-doodad {
    text-align: center;
  }

  .confettibackground {
    background-repeat: repeat;
    background-image: url('/static/confettibackground.svg');
    background-size: 160px;
    height: 335px;
  }

  .feedback-row {
    margin-top: 100px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
  }

  .no-reviews-yet {
    margin-top: 30px;
  }
}
