.main-background {
  /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#ffd7ea), to(#fecc72));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #ffd7ea, #fecc72);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #ffd7ea, #fecc72);

    /* IE 10 */
    background: -ms-linear-gradient(left, #ffd7ea, #fecc72);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #ffd7ea, #fecc72);


    height: 500px;
}

html {
  position: relative;
  min-height: 100%;
}

.push {
  height: 110px;
  margin-top: 10px;
}

.summary-item {
  vertical-align: middle;
  font-size: 40px;
}

.faq {
  margin-bottom: 110px;
}

.collapse-no-animate {
  display: none;
}

.collapse-no-animate.show {
  display: block;
}

.amp-name-row {
  text-align: center;
}

.amplifier-name {
  margin-right: 6px;
}

.review-count-check-mark {
  font-family: "Times", "Times New Roman", "serif";
  font-weight: 500;
  font-size: 48px;
  display: inline-block;
  height: 20px;
  color: #faa9ca;
}

.star-box {
  padding-right: 30px;
  margin-top: 10px;
}

.navigation {
  background-color: white;
  border-bottom: 1px solid #D9D9D9;
}

.ample-logo {
  font-family: 'Lilita One', cursive;
  color: #EB6E79;
  font-size: 80px;

}

.profile-name-row {
  margin-top: 80px;
}

.profile-form {
  margin-top: 40px;
}

.profile-alert {
  margin-top: 30px
}

.signin-button-row {
  margin-top: 80px;
}

.logo-row {
  padding-top: 120px;
}

.login-background {
  background-color: #FFD4D3;
}

.tag-line {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #EB6E79;
  font-size: 25px;
}

.go-button {
  background-color: #EB6E79;
  color: white;
  width: 100%;
}

.business-header {
  margin-top: 30px;
  padding-bottom: 20px;
}

.section-separator {
  border-top: .5px solid #d3d3d3;
  height: 1px;
}

.cards {
  padding-top: 50px;
}

.cards-background {
  height: 500px;
}

.cards-title {
  color: #EB6E79;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}


.review-biz-name {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #A9A9A9;
}

.biz-name {
  display: inline-block;
  font-size: 30px;
  color: #A9A9A9;
  font-family: 'Roboto', sans-serif;
}

.business-phone {
  font-size: 20px;
  margin-bottom: 0px;
  margin-bottom: 0;
  display: inline;
  vertical-align: middle;
}

.business-address {
  font-size: 20px;
  margin-bottom: 0px;
  margin-bottom: 0;
}

.phone-and-claim {
  display: inline;
}

.claim-button {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #6BCFFB;
  display: inline-block;
  text-align: center;
  width: 100%;
  text-decoration: underline;


}

.claim-button:hover {
  color: #6BCFFB;
}

.claim-button-col {
  padding-left: 5px;
  padding-right: 5px;
  border-top: .5px solid #d3d3d3;
}

.amplify-button-col {
  padding-left: 0px;
}

.phone-number-col {
  padding-right: 0px;
}

.amplify-button {
  background-color: #6BCFFB;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
  display: inline-block;
  padding: 5px;
  white-space: nowrap;
  text-align: center;
  border-radius: 0.25rem;
  text-decoration: none;
  width: 100%;
}

.amplify-button.disabled {
  background-color: #6BCFFB;
  color: white !important;
  padding: 5px;
  opacity: .5;

}

.amplified-bottom-text {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: .25rem;
  border: 1px solid #EB6E79;
  font-style: italic;
  color: gray;
  font-size: 1.0rem;
}

.review-button {
  background-color: #EB6E79;
  border-color: #EB6E79;
  color: white;
  width: 100%;
  text-decoration: none;
  border-width: 0px;
  padding: 5px;
}

.review-button.disabled {
  background-color: #d3d3d;
  border-color: grey;
  color: white;
}

.add-photo-button {
  background-color: #EB6E79;
  vertical-align: middle;
  color: white;
  display: inline-block;
  padding: 5px;
  border-width: 1px;
  white-space: nowrap;
  text-align: center;
  border-radius: 0.25rem;
  text-decoration: none;
  width: 100%;
  line-height: 1.5;
}

.add-photo-button:hover {
  color: white;
}

.add-photo-col {
  padding-right: 3px;
  margin-top: 5px;
}

.add-review-col {
  padding-left: 3px;
  margin-top: 5px;
}

.add-review-col-lg {
  padding-left: 3px;
  padding-right: 4px;
  margin-top: 5px;
}

.amplify-col {
  padding-left: 2px;
}

.photo-number {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.image-photo-count {
  position: relative;
  display: inline-block;
}

.badge {
  line-height: inherit;
}

.statement-row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.no-reviews-yet {
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 60px;
  color: #A9A9A9;
}

.reviews-body {
  padding-top: 10px;
}


.tag-input {
  border: 0px;
  width: 180px;
  outline: none;
}

.tag-label {
  display: inline-block;
  color: #EB6E79;
  margin-bottom: 0px;
}

.tag-list {
  display: inline !important;
  list-style-type: none;
  padding-left: 0px;
}

.FAQ-headline {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tag-list-item {
  display: inline-block;
  margin-right: 10px;
  background-color: #FFD4D3;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  color: #EB6E79;
}

.tag-list-item-display {
  margin-top: 5px;
  padding: 5px;
}

.tag-list-item-content {
  padding-top: 2px;
  padding-bottom: 2px;
}

.tag-list-item-delete-link {
  color: #EB6E79;
  margin-left: 10px;
}

.tag-list-item-delete-link:hover {
  text-decoration: none;
  color: white;
}

.summary-row {
  margin-bottom: 40px;
}

.tags-row {
  margin-top: 20px;
}

.review-business-top-row {
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: .5px solid #d3d3d3;
  padding-bottom: 10px;
}

.review-business-bottom-row {
  padding-bottom: 50px;
}

.reviews-title {
  font-family: 'Roboto', sans-serif;
}

.review-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #EB6E79;
  font-family: 'Lilita One', cursive;
}

.team-page-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #EB6E79;
  font-family: 'Lilita One', cursive;
  font-size: 30px;
}

.star-rating-label {
  color: #EB6E79;
}

.accessibility-title {
  padding-top: 30px;
}

.main-form {
  width: 75%;
  align-content: center;
}

.review-submit-button {
  background-color: #EB6E79;
  color: white;
  width:100%;
}

.reviews-header {
  margin-top: 30px;
}

.pledge-badge-img {
  margin-left: auto;
  margin-right: auto;
  margin-right: 5px;
}

.review {
  font-family: 'Roboto', sans-serif;
}

.summary-item-search {
  float: right;
  margin-right: 2px;
  font-size: 30px;
  vertical-align: center;
  line-height: 31px;
}

.search-star {
  float: right;
  vertical-align: middle;
}

.taken-pledge-words {
  color: #6BCFFB;
}

.login-button {
  padding-top: 100px;
}

#add-photo-preview {
  margin-top: 20px;
  max-width: 100%;
}

a {
  color: #FDA972;
}

a:hover {
  color: #CC5C4A;
  text-decoration: none;
}

.reviewer-headline {
  font-weight: 500;
  color: #EB6E79;
}

.business-rating {
  font-size: 30px;
  font-weight: bold;
}

.card-subtitle {
  font-size: 12px;
}

.biz-img {
  object-fit: cover;
  width:300px;
  height:300px;
}

.biz-img-thumb {
  object-fit: cover;
  width:80px;
  height:80px;
}

.search-result-title {
  font-size: 20px;
}

.breakdown-section {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: .5px solid #d3d3d3;
  border-top: .5px solid #d3d3d3;
}

.link-highlighted {
  color: #CC5C4A;
  text-decoration: underline;
}

.search-results-title {
  margin-bottom:20px;
}

.no-reviews-circle {
  border: 1px solid #EB6E79;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding-top: 8px;
  font-size: 10px;
  padding-left: 2px;
  text-align: center;
  color: #EB6E79;
  line-height: .8;
}

.search-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.recent-review-card {
  margin-bottom: 15px;
}

.card-title {
  color: black;
  font-size: 18px;
  margin-bottom: 8px;
}

.card-text-container {
  height: 75px;
}

.card-text {
  color: black;
  overflow: hidden;
}

.card-top {
  height: 40px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.bottom-nav {
  padding-top: 15px;
  background-color: #F5DCDE;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.privacy-pol {
  color: #EB6E79;
  font-size: 11px;
}

.privacy {
  margin-top: 40px;
}

.business-overall-rating {
  display: inline;
  vertical-align: top;
}

.business-listing-title {
  font-size: 20px;
  color: #A9A9A9;
}

.score-grouping {
  float: right;
}

.review-count {
  display: inline;
  vertical-align: top;
}

.business-address-tag-line {
  color: black;
  font-size: 15px;
}

.search-results-star-rating {
  display: inline;
  vertical-align: bottom;

}

.rating-breakdown-link.highlighted {
  background-color: red;
}

.reviewed-by {
  color: #A9A9A9;
}

.percentage-bar-background {
  background-color: #f9d9d9;
  height: 20px;
}

.percentage-bar {
  background-color: #EB6E79;
  height: 100%;
}

.main-form {
  width: 100%;
}

.rating-breakdown-link {
  text-align: center;
  display: block;
  text-decoration: underline;
}

.biz-name {
  font-size: 30px;
  color: #A9A9A9;
  font-family: 'Roboto', sans-serif;
  margin-top: 7px;
  margin-bottom: 0px;
}


.feedback-row {
  margin-top: 100px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.top-our-vision {
  margin-top: 30px;
}

.founder-img {
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  display: block;
}

.about-us-title {
  margin-bottom: 30px;
  margin-top: 15px;
}

.cards-address {
  font-size: 13px;
  color: #A9A9A9;
}

.add-business-form {
  padding-top: 10px;
}

.inner-form {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  border: .5px solid #d3d3d3;
}

.add-business-background {
  background-color: #FFD4D3;
}

.add-business-title {
  font-family: 'Lilita One', cursive;
  color: #EB6E79;
  margin-top: 20px;
}

.add-business-link {
  font-size: 14pt
}


.facebook-button {
  background-image: url('/static/facebook.png');
  height: 50px;
}

.map {
  height: 400px;
}

.map-row {
  height: 500px;
}

.map-blurb {
  color: #EB6E79;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.map-background {

}

.info-area {
  border-top: .5px solid #d3d3d3;
  border-bottom: .5px solid #d3d3d3;
}

.info-area-row {
  height: 250px;
}

.info-picture-row {
  height: 85px;
}

.snowflake-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url('/static/snowflake.svg');
  height: 50px;
  width: 50px;
}

.eye-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url('/static/eye.svg');
  height: 50px;
  width: 50px;
}

.megaphone-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url('/static/megaphone.svg');
  height: 50px;
  width: 50px;
}


.pledge-box {
  background-color: #EBEBEB;
  border-radius: 8px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.business-badge {
  display: block;
  text-align: center;
  padding-top: 5px;
}

.pledge-title {
  display: inline;
  margin-right: 5px;
}

.pledge-explainer {
  padding-top: 5px;
}

.owner-statement-profile {
  margin-top: 10px;
}

.indicator {
  vertical-align: middle;
  text-align: center;
}

.businesses-you-own {
  margin-top: 20px;
  font-family: 'Lilita One', cursive;
  color: #EB6E79;
}

@media screen and (max-width: 767px) {
  .info-area-row {
    height: 570px;
    background-color: #FFF0ED;
  }

  .reviews-header {
    margin-top: 10px;
  }

  .info-picture-row {
    height: 75px;
  }

  .founder-img-second {
    padding-top: 15px;
  }

  .amplifier-img {
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .recent-review-card {
    margin-bottom: 15px;
  }

  .card-text-container {
    height: 90px;
  }

  .card-top {
    height: 60px;
  }

  .dr-name {
    font-size: 25px;
    margin-top:15px;
  }

  .business-by-line {
    font-size: 14px;
  }

  .business-header {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  .star-rating-section {
    margin-bottom: 10px;
  }

  .biz-img {
    width:100%;
    height: 275px;
  }

  .biz-img-thumb {
    width:65px;
    height:65px;
  }

  .biz-image-col {
    padding: 0px;
  }

  .main-background {
    height: 350px;
  }

  .search-results-title {
    margin-bottom:5px;
    font-size: 18px;
  }

  .add-business-link {
    font-size: 16px;
  }
  .search-bar {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .business-listing-title {
    font-size: 15px;
    line-height: .95;
    color: #A9A9A9
  }

  .summary-item-search {
    font-size: 18px;
    line-height: 21px;
  }

  .search-results-review-score {
    font-size: 20px;
    position: absolute;
    color: white;
    top: 7px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .business-search-results-score-container {
    margin-top: 6px;
    display: inline-block;
    float: right;
    margin-right: 4px;
  }

  .business-address-tag-line {
    font-size: 11px;
  }

  .search-results-business-info-col {
    padding-right: 2px;
  }

  .right-side-badges-col {
    padding-left: 3px;
    display: block;
    text-align: center;
  }

  .business-address {
    font-size: 17px;
  }


  .business-phone {
    font-size: 17px;
  }


  .image-column {
    padding-right: 0px;
    padding-top: 7px;
  }

  .search-results-business-info {
    padding-left: 5px;
    padding-top: 0px;
  }

  .list-group-item {
    padding-left: 10px;
    padding-right: 10px;
  }


  .logo-row {
    padding-top: 25px;
  }

  .ample-logo {
    margin-bottom: 5px;
  }

  .tag-line {
    font-size: 16px;
    padding-top: 5px;
  }

  .cards {
    padding-top: 35px;
  }

  .cards-address {
    font-size: 13px;
    color: #d3d3d3
  }

  .cards-background {
    height: 1390px;
  }

  .score-grouping {
    float: right;
    margin-top: 5px;
    display: inline-block;
  }

  .search-result-list-item {
    padding-left: 1px;
    padding-right: 1px;
  }

  .business-address-tag-line {
    color: black;
    font-size: 12px;
    margin-top: 3px;
  }

  .address-link-to-business {
    line-height: 15px;
  }

  .score-row {
    border-top: .5px solid #d3d3d3;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .no-reviews {
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
    padding: 0px;
  }

  .summary-item {
    font-size: 32px;
  }

  .doodad-label {
    font-size: 13px;
  }

  .badge-img {
    margin-left: auto;
    margin-right: auto;
  }


  .tags-row {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .rating-doodad {
    text-align: center;
    display: block;
  }

  .business-badge {
    display: block;
    text-align: center;
    width: 120;
  }


  .feedback-row {
    margin-top: 100px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
  }

  .no-reviews-yet {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}
