.star-rating {
  height: 35px;
  width: 175px;
}

.star-rating[data-size="small"] {
  height: 21px;
  width: 105px;
}

.star-rating--star {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-image: url('/static/star-no-highlight-large.png');
  background-repeat: no-repeat;
}

.star-rating--star.highlighted {
  background-image: url('/static/star-highlight-large.png');
}

.star-rating--star.half-highlighted {
  background-image: url('/static/star-half-highlight-large.png');
}

.star-rating--star-small {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url('/static/star-no-highlight-small.png');
  background-repeat: no-repeat;
}

.star-rating--star-small.highlighted {
  background-image: url('/static/star-highlight-small.png');
  background-repeat: no-repeat;
}

.star-rating--star-small.half-highlighted {
  background-image: url('/static/star-half-highlight-small.png');
}

.star-box .star-rating-label {
  padding-right: 10px;
}

.new-review-star-label {
  font-size: 22px;
}

.tooltip-inner {
  background-color: #FFD4D3;
  color: #EB6E79;
  max-width: 300px;
}

.tooltip-questionmark {

  margin-left: 10px;
}

.round-question {
  width: 25px;
  height: 25px;
  background-color: #FFD4D3;
  color: white;
  border-radius: 50%;
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

a:not([href]):not([tabindex]) {
  color: #EB6E79;
}

a:not([href]):not([tabindex]):hover {
  color: #EB6E79;
}

.tooltip {
  opacity: 1 !important;
  filter: alpha(opacity=100);

}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #FFD4D3;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #FFD4D3;
}
@media screen and (max-width: 800px) {
  .star-rating {
    height: 42px;
    width: 210px;
  }

  .star-rating--star {
    width: 42px;
    height: 42px;
    background-image: url('/static/star-no-highlight-large-phone.png');
    background-repeat: no-repeat;
  }

  .star-rating--star.highlighted {
    background-image: url('/static/star-highlight-large-phone.png');
  }

  .star-rating--star.half-highlighted {
    background-image: url('/static/star-half-highlight-large-phone.png');
  }
}
