.main-background {
  /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#ffd7ea), to(#fecc72));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #ffd7ea, #fecc72);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #ffd7ea, #fecc72);

    /* IE 10 */
    background: -ms-linear-gradient(left, #ffd7ea, #fecc72);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #ffd7ea, #fecc72);


    height: 550px;
}


.star-rating-radio {
  position: absolute;
  visibility: hidden;
}

.star-rating-label {
  width: 30px;
  height: 30px;
  background-image: url('/static/star-off-big.png');
  background-repeat: no-repeat;
}

.star-rating-label.highlighted {
  background-image: url('/static/star-on-big.png');
}

.navigation {
  background-color: white;
  border-bottom: 1px solid #D9D9D9;
}

.search-row {
}

.ample-logo {
  font-family: 'Lilita One', cursive;
  color: #EB6E79;
  font-size: 80px;

}

.logo-row {
  padding-top: 120px;
}

.tag-line {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #EB6E79;
  font-size: 20px;

}

.go-button {
  background-color: #EB6E79;
  color: white;
}

.business-header {
  padding-top: 60px;
}


.cards {
  padding-top: 50px;
}

.dr-name {
  font-family: 'Roboto', sans-serif;
  color: #A9A9A9;
}

.business-by-line {
  font-size: 20px;
}

.reviews-title {
  padding-top: 20px;
}

.review-button {
  background-color: #EB6E79;
  color: white;
  width: 200px;
}

.review-top-row {
  padding-top: 40px;
}

.review-title {
  padding-top: 40px;
}

.accessibility-title {
  padding-top: 30px;
}

.main-form {
  width: 75%;
  align-content: center;
}

.review-submit-button {
  background-color: #EB6E79;
  color: white;
  width:100%;
}

.review-submit-row {
  padding-top: 40px;
}

.login-button {
  padding-top: 100px;
}

.reviewer-headline {
  font-weight: 500;
  color: #EB6E79;
}

.business-rating {
  font-size: 30px;
  font-weight: bold;
}
